@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
}

body{
   
    margin:0px;
    padding:0px;

      position: relative;
  background-image: url('bg.png');
  background-size: cover;

  background-repeat: no-repeat;
}


.box {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}


.content {
margin-top: 150px;
text-align: center;
width: 300px;
height: 300px;
letter-spacing: 7px;
}

.logbox {
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(236, 236, 236);
border: 1px;
text-align: center;
width: auto;
height: 300px;
padding: 45px;
border-radius: 10px;
}

.login{
    margin-top: 50px;
    
}

.login input{
    border: none;
    padding: 5px;
    margin-top: 5px;
    
}

.btnlog{
    border: none;
    border-style: none;
    background-color: blueviolet;
    padding: 15px;
    color: white;
    border-radius: 30px;
    margin-top: 15px;
    cursor: pointer;

}

.btnlog:hover{
     background-color: rgb(79, 25, 129);
    transition: 0,5s;
}

h1{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

}